@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  padding: 40px 0;
}

body, input {
  font-family: 'Raleway', sans-serif;
}

$objectsAndSceneHeight: 562px;
$objectsWidth: 200px;
$sceneWidth: 1000px;
$padding: 40px;
$containerWidth: $objectsWidth + $sceneWidth + $padding;
$borderRadius: 4px;
$borderWidth: 3px;
$borderColor: #f2f2f2;
$objectsBackgroundColor: #fff;

#container {
  margin: auto;
  width: $containerWidth;

  #objects {
    float: left;
    width: $objectsWidth;
    border-radius: $borderRadius;
    height: $objectsAndSceneHeight;
    border: $borderWidth solid $borderColor;

    #searchWrapper {
      padding: 5px;
      height: 40px;

      #search {
        width: 100%;
        height: 100%;
        border: none;
        padding: 10px;
        outline: none;
        border-radius: $borderRadius;
        border: $borderWidth solid $borderColor;
        &:focus {
          border-color: darken($borderColor, 5%);
        }
      }
    }

    #list {
      overflow-y: auto;
      padding: $padding;
      text-align: center;
      height: calc(100% - 40px);

      img {
        cursor: pointer;
        max-height: 100px;
        text-align: center;
        margin-top: $padding;
        display: inline-block;
        border-radius: $borderRadius;
        border: $borderWidth solid transparent;
        max-width: $objectsWidth - ($padding * 2);
        &:hover, &:active {
          border-color: darken($borderColor, 10%);
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  #sceneWrapper {
    float: left;
    width: $sceneWidth;
    position: relative;
    margin-left: $padding;
    border-radius: $borderRadius;
    height: $objectsAndSceneHeight;
    border: $borderWidth solid $borderColor;

    #scene {
      width: 100%;
      height: 100%;
      .react-draggable {
        border-radius: $borderRadius;
        border: $borderWidth solid transparent;
        &:hover, &:active {
          z-index: 999999999999 !important;
          border: $borderWidth solid darken($borderColor, 10%);

          .moveToBack, .moveToFront, .remove {
            top: 0;
            width: 20px;
            height: 20px;
            display: block;
            cursor: pointer;
            position: absolute;
            border-radius: $borderRadius;
            &.moveToBack {
              right: 42px;
              background-color: #037bff;
              &:hover, &:active {
                background-color: darken(#037bff, 10%);
              }
            }
            &.moveToFront {
              right: 21px;
              background-color: #15a2b8;
              &:hover, &:active {
                background-color: darken(#15a2b8, 10%);
              }
            }
            &.remove {
              right: 0;
              background-color: #dc3545;
              &:hover, &:active {
                background-color: darken(#dc3545, 10%);
              }
            }

            img {
              width: 14px;
              margin: 3px;
              height: 14px;
            }
          }
        }

        .moveToBack, .moveToFront, .remove {
          display: none;
          user-select: none;
        }

        >img {
          width: 100%;
        }
      }
    }

    #saveImage {
      right: -3px;
      color: #fff;
      height: 30px;
      border: none;
      bottom: -38px;
      cursor: pointer;
      padding: 0 20px;
      font-weight: 500;
      line-height: 30px;
      position: absolute;
      background-color: #037bff;
      text-transform: uppercase;
      border-radius: $borderRadius;
      &:hover {
        background-color: darken(#037bff, 10%);
      }
      &:active {
        background-color: darken(#037bff, 20%);
      }
    }
  }

  #footer1, #footer2 {
    color: #555;
    float: left;
    padding: 10px 0;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-top: $padding;
    border-radius: $borderRadius;
    border: $borderWidth solid $borderColor;
    width: ($containerWidth - $padding) / 2;
    &#footer2 {
      margin-left: $padding;
    }

    a {
      color: #555;
      font-weight: 500;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      &:hover {
        color: darken(#555, 30%);
        border-bottom-color: darken(#555, 30%);
      }
    }
  }
}
